.container2 {
	margin-top: 5%;
	padding-right: 12%;
	width: 43%;
}

.top-container {
	background-color: hsl(248, 32%, 49%);
	padding: 4% 0% 4% 13%;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 12px;
	margin-bottom: 5%;
	width: 103%;
	color: rgb(192, 181, 181);
}