

@media only screen and (max-width: 600px){
	.para-1 {
		width: 90%;
		padding-left: 8%;
	}
	.flex-row {
		flex-direction: column !important;
		margin-top: 17%;
	}
	.container1 {
		width: 105%;
		margin: 11% 0% 0% 8%;
	}
	.first-left-container {
		width: 79%;
		padding-bottom: 4%;
	}
	.container2 {
		margin-top: 5%;
		padding-right: 32%;
	}
	.top-container {
		background-color: hsl(248, 32%, 49%);
		padding: 6%;
		box-sizing: border-box;
		border-radius: 13px;
		font-size: 11px;
		margin-bottom: 9%;
		width: 103%;
		color: rgb(192, 181, 181);
	}
	.container2 {
		margin-top: 5%;
		padding-right: 14%;
		margin-left: 10%;
	}
} 

@media only screen and (max-width: 810px) {
	.flex-row {
		flex-direction: column !important;
		/* margin-top: 25%; */
	}
	.container1 {
		width: 92%;
		margin: 12% 0% 0% 8%;
	}
	.first-left-container {
		/* width: 62%; */
		padding-left: 15%;
	}
	.second-left-container {
		width: 96%;
		font-size: 14px;
		/* margin-left: -3%; */
	}
	.container2 {
		margin-top: 6%;
		padding-left: 10%;
		width: 98%;
	}
	.top-container {
		background-color: hsl(248, 32%, 49%);
		padding: 4%;
		box-sizing: border-box;
		border-radius: 13px;
		font-size: 11px;
		margin-bottom: 6%;
		width: 103%;
		color: rgb(192, 181, 181);
	}
}
